/models/
/venv/
/.idea/

# WebUI Forge
/javascript/
/ldm_patched/
/localizations/
/modules/
/modules_forge/
/configs/
/extensions-builtin/
/html/

__pycache__
*.ckpt
*.safetensors
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/output
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/node_modules
/package-lock.json
/.coverage*
/test/test_outputs
/test/results.xml
coverage.xml
**/tests/**/expectations
/.eslintignore
/.eslintrc.js
/.git-blame-ignore-revs
/.pylintrc
/CHANGELOG.md
/CITATION.cff
/CODEOWNERS
/environment-wsl2.yaml
/launch.py
/LICENSE.txt
/package.json
/pyproject.toml
/requirements.txt
/requirements-test.txt
/requirements_npu.txt
/requirements_versions.txt
/script.js
/style.css
/webui.bat
/webui.pys
/webui.sh
/webui-macos-env.sh
/build/AI_Assistant/
/dist/AI_Assistant/
/webui.py
